# Backend
backend/venv/
backend/.env
backend/__pycache__/
*.pyc
*.csv  # Optional: Uncomment if you want to keep synthetic data local

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env*.local